* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    margin: auto;
    width: 530px;
    height: 530px;
    background-image: url('../img/bg-img.png');
    background-size: cover;
    -webkit-box-shadow: -6px 16px 44px -4px rgba(117, 117, 117, 1);
    -moz-box-shadow: -6px 16px 44px -4px rgba(117, 117, 117, 1);
    box-shadow: -6px 16px 44px -4px rgba(117, 117, 117, 1);
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 30px;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
}

.cell {
    width: 30px;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 0, 0, 0.8);
}

.cell:nth-child(16n) {
    border-bottom: none;
}

.cell:nth-child(16) {
    border-left: none;
}

.cell:nth-child(n+1):nth-child(-n+15) {
    border-left: none;
}

.stone {
    position: relative;
    height: 24px;
    width: 24px;
    bottom: -17px;
    left: -12px;
    border-radius: 50%;
    background-size: contain;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    color:rgb(216, 216, 216);
}

.active-player {
    color: rgb(58, 58, 58);
    border-bottom: 1px solid rgb(58, 58, 58);
}