body {
    background-color: #fcfcfc;
}

#load-animation,
#data-table,
#validate-animation {
    display: none;
}

#validate-animation {
    margin-left: 35%;
}

#data-table table th,
#data-table table td {
    padding-left: 25px;
}