ul {
    list-style-type: none;
}

span {
    display: block;
    cursor: pointer;
}

span:hover {
    background-color: #e4e4e4;
}

.golden-icon {
    color: #ffd700;
}

.gray-icon {
    color: #a5a5a5;
}

.material-icons {
    font-size: 17px;
    vertical-align: middle;
    padding-bottom: 4px;
    padding-right: 3px;
}