$pageBackground: #c6eefc87;
$contentBackground: #3b3b3b;
$headerColor:#fccd10;
$contentColor: #ffffff;
$linkColor: #f5c70f;
$thBackground:#94a34e;
$tableBackground: #677d01;
$labelColor: $linkColor;
$buttonColor: $linkColor;
$briefStyle: lighten($headerColor, 20%), 96%, none, #000000;
$borderColor: #e0e0e0;