$pageBackground: #dcbb9a;
$contentBackground: #ffffff;
$headerColor:#893c00;
$contentColor: #000000;
$linkColor: #3d70a1;
$thBackground: #e0e0e0;
$tableBackground: $contentBackground;
$labelColor: #808080;
$buttonColor: $linkColor;
$briefStyle: #fadcba, 40%, left, $contentColor; 
$borderColor: $contentBackground;
